// background colors
$primary-color: #141414;
$secondary-color: #c40018;

// text color
$primary-white-color: #fff;

// font family
$primary-font: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif